<div class="login">
    <div class="login__container">
        <form class="login__form">
            <div class="languages">
                @if (isChoosingLanguage) {
                    <div class="languages__select">
                        @for (language of languages; track languages.indexOf(language)) {
                            <div class="languages__select-item" (click)="changeLanguage(language)">
                                <span class="languages__select-text">{{language}}</span>
                            </div>
                        }
                    </div>
                } @else {
                    <div class="languages__selected" (click)="isChoosingLanguage = true">
                        <img class="languages__icon" ngSrc="assets/images/languages.svg" width="16" height="16">
                        <div class="languages__link">{{currentLanguage}}</div>
                    </div>
                }
            </div>
            <img class="login__logo" ngSrc="assets/images/login-logo.svg" width="208" height="45" priority="">
            <div class="login__input-list">
                <ng-container class="login__input-container">
                    <input class="login__input" type="text" spellcheck="false" placeholder="Имя">
                </ng-container>
                <ng-container class="login__input-container">
                    <input class="login__input" type="password" spellcheck="false" placeholder="Пароль">
                </ng-container>
            </div>
            <div class="login__submit">
                <button type="button" class="login__button" (click)="login()">
                    <span>{{currentLanguage === languages[2] ? 'Вход' : 'Sign in'}}</span>
                </button>
            </div>
        </form>
    </div>
</div>
