<div class="personnel-list">
    <div class="personnel-list__container">
        <div class="personnel-list__title">Кадровые изменения</div>
        <div class="personnel-list__wrapper" *ngIf="personnelList$ | async as personnelList; else loader">
            <div class="personnel-list__card" *ngFor="let personnel of personnelList | filter: (value | async)">
                <cabinet-personnel-card [personnel]="personnel"></cabinet-personnel-card>
            </div>
        </div>
    </div>
</div>

<ng-template #loader>
    <h3 class="personnel-list__loader">Loading...</h3>
</ng-template>