<div class="personnel-list">
    <div class="personnel-list__title">Кадровые изменения</div>
    @if (personnelList$ | async; as personnelList) {
        <div class="personnel-list__wrapper">
            @for (personnel of personnelList | filterMutations: (value | async); track personnel.id) {
                <div class="personnel-list__card">
                    <cabinet-personnel-card [personnel]="personnel.employee"></cabinet-personnel-card>
                </div>
            } @empty {
                <h3 class="personnel-list__empty">Ничего не найдено</h3>
            }
        </div>
    } @else {
        <h3 class="personnel-list__loader">Loading...</h3>
    }
</div>
