.personnel-list {
  &__container {
    justify-content: center;
    align-items: center;
    width: 100vh;
  }

  &__wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  &__cards {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}