<div class="cabinet-header">
    <div class="cabinet-header__container">
        <div class="cabinet-header__search">
            <form [formGroup]="form">
                <input class=cabinet-header__input type="text" placeholder="Поиск" formControlName="search"/>
            </form>
        </div>
        <div class="cabinet-header__info">
            <div class="cabinet-header__wrapper-img">
                <img class="personnel-card__img" src="assets/images/personnel-avatar.svg"/>
            </div>
            <span class="cabinet-header__item">Фамилия Имя Отчество</span>
            <img class="cabinet-header__item" src="assets/images/notif.svg"/>
        </div>
    </div>
</div>