<div class="account-login-form">
    <form class="account-login-form__form">
        <div class="languages">
            <div class="languages__select">
                <img class="languages__icon" ngSrc="assets/images/languages.svg" width="16" height="16">
                <div class="languages__link">Русский (Россия)</div>
            </div>
        </div>
        <img class="account-login-form__logo" ngSrc="assets/images/login-logo.svg" width="208" height="45">
        <div class="account-login-form__input-list">
            <ng-container class="account-login-form__input-container">
                <input class="account-login-form__input" type="text" spellcheck="false" placeholder="Имя">
            </ng-container>
            <ng-container class="account-login-form__input-container">
                <input class="account-login-form__input" type="password" spellcheck="false" placeholder="Пароль">
            </ng-container>
        </div>
        <div class="account-login-form__submit">
            <button type="submit" class="account-login-form__button">
                <span class="account-login-form__button-text">Вход</span>
            </button>
        </div>
    </form>
</div>
