.cabinet-header {
    display: flex;
    width: 100%;
    padding-top: 16px;
    justify-content: space-between;

    &__search {
        margin-left: 20px;
        width: 50%;
    }

    &__input {
        padding: 15px;
        height: 32px;
        width: 100%;
        border: 1px solid;
        border-radius: 5px;
        background: #F6F6FB;
        color: #1F384C;
    }

    &__info {
        width: 100px;
    }

    &__item {
        margin-right: 59px;
    }

    &__wrapper-img {
        margin-right: 12px;
        border-radius: 32px;
        width: 32px;
        height: 32px;
        background: #FFE6CC;
        padding: 5px;
    }

    &__img {
        width: 22px;
        height: 22px;
    }
}
