.layout-dashboard {
    
    &__sidebar {
        display: flex;
        position: relative;
        float: left;
    }

    &__header {
        position: absolute;
    }

    &__line {
        border-bottom: 1px solid #C8CBD9;
        width: 100%;
        position: absolute;
        padding: 20px;
    }
}