.layout-dashboard {

    &__sidebar {
        position: relative;
    }

    &__header {
        position: relative;
    }

    &__line {
        border-bottom: 1px solid #C8CBD9;
        position: absolute;
        width: 100%;
        padding-top: 60px;
    }
}