<div class="personnel-card">
    <div class="personnel-card__container">
        <div class="personnel-card__item">
            <div class="personnel-card__header-wrapper">
                <div class="personnel-card__wrapper-img">
                    <div class="personnel-card__img">
                        <img src="assets/images/personnel-avatar-card.svg"/>
                    </div>
                </div>
                <div class="personnel-card__header-item">
                    <div class="personnel-card__fullName">{{ personnel.fullName}}</div>
                    <div class="personnel-card__departmentName">{{ personnel.departmentName }}</div>
                </div>
            </div>
            <div class="personnel-card__footer-wrapper">
                <div class="personnel-card__footer-item">
                    <p class="personnel-card__title">Кадровое изменение</p>
                    <span class="personnel-card__info">Изменение данных</span>
                </div>
                <div class="personnel-card__footer-item">
                    <p class="personnel-card__title">Дата изменения</p>
                    <span class="personnel-card__info">С 29.07.2023</span>
                </div>
                <div class="personnel-card__footer-item">
                    <p class="personnel-card__title">Рабочий телефон</p>
                    <span class="personnel-card__info">{{ personnel.phone || 'не найден' }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
